* {
  margin: 0;
  background-color: rgb(142, 34, 175);
}

.h-100 {
  height: 100vh;
}

.heading {
  text-align: center;
  height: 8%;
  font-family: cursive;
}

.container {
  height: 92%;
  display: flex;
}

li {
  list-style: none;
}

.side-bar {
  width: 20%;
  border: 2px solid black;
  max-height: 100%;
  margin: 0 40px;
  padding: 15px;
  border-radius: 35px;
  background-color: rgb(142, 34, 175);
}

.episode-list {
  border-radius: 25px;
  overflow-y: scroll;
  max-height: 90%;
}

.main-panel {
  width: 80%;
  padding: 0 40px;
  max-height: 90%;
}

.episode-item {
  padding: 5px;
  border: 2px solid black;
  border-radius: 10px;
  margin: 5px;
  margin-left: -25px;
  color: white;
  font-family: cursive;
  cursor: pointer;
}

.text-center {
  text-align: center;
  color: black;
  font-family: cursive;
}

.characters-text {
  text-align: center;
  color: white;
  font-family: cursive;
  width: 100%;
}

.characters-head {
  color: white;
  font-family: cursive;
  width: 100%;
}

.card {
  margin: 10px;
  padding: 10px;
  background-color: rgb(142, 34, 175);
  border-radius: 20px;
  border: 2px solid black;
}

.char-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 0 25px 0 25px;
  max-height: 100%;
  overflow-y: scroll;
  margin-left: -7%;
}

.char-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

::-webkit-scrollbar {
  width: 12px; /* width of the entire scrollbar */
}

::-webkit-scrollbar-thumb {
  background-color: rgb(99, 5, 128);
  border-radius: 15px; /* roundness of the scroll thumb */
  border: 2px solid; /* creates padding around scroll thumb */
}

.highlight {
  border: 4px solid #fff;
}

.spin-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; /* Optionally, you can set a specific height to the container */
}
.content {
  padding: 50px;
  background: white;
  border-radius: 4px;
}
